@model Web.Models.AddUserMessage

@{
    ViewBag.Title = "Owl - Create user";
}
<div class="page-header">
    <h1>Create user</h1>
</div>

@Html.ValidationSummary("", new { @class="alert alert-error" })

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Username)
    @Html.EditorFor(m => m.Username)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input class="btn btn-primary" type="submit" value="Create user"/>
}